@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&family=Oi&family=PT+Sans+Narrow:wght@400;700&family=Press+Start+2P&family=Prosto+One&family=WDXL+Lubrifont+TC&family=Yeseva+One&display=swap');
body{
    background-color: #fbb7d3;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}
header{
    height: 70px;
    display: flex;
    background-color: #ad1756;
}
footer{
    background-color: #ad1756;
}
.ksb{
    border: #6b042f solid 2px;
    width: 120%;
    box-sizing: border-box;
    padding: 10px;
    margin: 3px ;
    height: 90%;
    border-radius: 10px;
}
main{
    display:flex;
}
main section{
    font-size:20px;
    width: 45%;
    background-color: #ffd1e4 ;
    border-radius: 10px;
    margin: 15px 5px;
    padding: 8px;

}
.card{
    border-radius: 10px;
    width: 95%;
}
.redfont{
    color: #ea2149;
}
.redfont::before{
    content: "";
}
.butt{
    background-color: #ad1756;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
.lol{
    margin: 10px 35px;
    text-decoration: none;
    color: #ffd1e4;
}