@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&family=Oi&family=PT+Sans+Narrow:wght@400;700&family=Press+Start+2P&family=Prosto+One&family=WDXL+Lubrifont+TC&family=Yeseva+One&display=swap');
body{
    background-color: #fbb7d3;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}
header{
    height: 70px;
    display: flex;
    background-color: #ad1756;
}
footer{
    background-color: #ad1756;
}
.ksb{
    border: #6b042f solid 2px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 3px ;
    height: 90%;
    border-radius: 10px;
}